<h1>Contact Details</h1>

<p>First Name : {{object.First_Name}}</p>
<p>Middle Name : {{object.Middle_Name}}</p>
<p>Last Name : {{object.Last_Name}}</p>
<p>Age : {{object.Age}}</p>
<p>Gender : {{object.Gender}}</p>
<p>Address : {{object.Address}}</p>
<p>Email ID : {{object.Emai_Id}}</p>
<p>Mobile Number : {{object.Mobile_Number}}</p>
<p>Alternate Email Id : {{object.Alternate_Email_Id}}</p>
<p>Alternate Mobile Number : {{object.Alternate_Mobile_Number}}</p>
<p>Father Name : {{object.Father_Name}}</p>
<p>Mother Name : {{object.Mother_Name}}</p>
<p>Institute Name : {{object.Institute_Name}}</p>
<p>Branch Name : {{object.Branch_Name}}</p>
